<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 14</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h1>Custom Events</h1>
    <h2>Event Names</h2>
    <strong>Always use kebab-case for event names.</strong>

    <h2>Customizing Component v-model</h2>
    <div id="example1">
        <base-checkbox v-model="lovingVue"></base-checkbox>
        {{lovingVue}}

    </div>
    <h2>Binding Native Events to Components</h2>
    <p>There may be times when you want to listen directly to a native event on the root element of a component. In
        these
        cases, you can use the .native modifier for v-on:</p>

    <xmp>
        <base-input v-on:focus.native="onFocus"></base-input>
    </xmp>

    <div id="example2">
        <base-input v-on:focus.native="onFocus" label = "form input"></base-input>
        {{onFocus}}
    </div>

    <h2><code>.sync</code> Modifier</h2>

    <p>In some cases, we may need “two-way binding” for a prop. Unfortunately, true two-way binding can create maintenance
    issues, because child components can mutate the parent without the source of that mutation being obvious in both the
    parent and the child.
    
    That’s why instead, we recommend emitting events in the pattern of update:myPropName. For example, in a hypothetical
    component with a title prop, we could communicate the intent of assigning a new value with:
    
    this.$emit('update:title', newTitle)
    Then the parent can listen to that event and update a local data property, if it wants to. For example:</p>
    <xmp>
        <text-document v-bind:title="doc.title" v-on:update:title="doc.title = $event"></text-document>
    </xmp>
        <p>
            For convenience, we offer a shorthand for this pattern with the .sync modifier:
        </p>        
    <xmp>        
        <text-document v-bind:title.sync="doc.title"></text-document>
    </xmp>
        <p>The .sync modifier can also be used with v-bind when using an object to set multiple props at once:</p>
    <xmp>
        <text-document v-bind.sync="doc"></text-document>
    </xmp>

</body>

</html>

<script>
    Vue.component('base-checkbox', {
        model: {
            prop: 'checked',
            event: 'change'
        },
        props: {
            checked: Boolean
        },
        template: `
    <input
      type="checkbox"
      v-bind:checked="checked"
      v-on:change="$emit('change', $event.target.checked)"
    >
  `
    })

    new Vue({
        el: "#example1",
        data: {
            lovingVue: ''
        }
    })

    Vue.component('base-input', {
        inheritAttrs: false,
        props: ['label', 'value'],
        computed: {
            inputListeners: function () {
                var vm = this
                // `Object.assign` merges objects together to form a new object
                return Object.assign({},
                    // We add all the listeners from the parent
                    this.$listeners,
                    // Then we can add custom listeners or override the
                    // behavior of some listeners.
                    {
                        // This ensures that the component works with v-model
                        input: function (event) {
                            vm.$emit('input', event.target.value)                            
                        },
                        focus: function (event) { 
                            console.log("Focused");                            
                        }
                    }
                )
            }
        },
        template: `
    <label>
      {{ label }}
      <input
        v-bind="$attrs"
        v-bind:value="value"
        v-on="inputListeners"
      >
    </label>
  `
    })

    new Vue({
        el:'#example2',
        data:{
            onFocus:''
        }
    })
</script>