<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 16</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>


    <h1>Handling Edge Cases</h1>

    <h2>Element & Component Access</h2>
    <p><i>In most cases, it’s best to avoid reaching into other component instances or manually manipulating DOM
            elements. There
            are cases, however, when it can be appropriate.</i></p>

    <h3>Accessing the Root Instance</h3>

    <h3>Accessing the Parent Component Instance</h3>

    <p>This has quickly gotten out of hand. That’s why to provide context information to descendent components
        arbitrarily
        deep, we instead recommend dependency injection.</p>

    <h3>Accessing Child Component Instances & Child Elements</h3>

    <h3>Dependency Injection</h3>
    <p> See dependency_injection_example.html for reference</p>

    <h2>Programmatic Event Listeners</h2>

    <p>
        Vue instances also offer other methods in its events interface. We can:

    </p>
    <ul>
        <li>Listen for an event with <code>$on(eventName, eventHandler)</code></li>
        <li>Listen for an event only once with <code>$once(eventName, eventHandler)</code></li>
        <li>Stop listening for an event with <code>$off(eventName, eventHandler)</code></li>
    </ul>

    <p>See programmatic-event-listeners.html for reference</p>

    <h2>Circular References</h2>

    <h3>Recursive Components</h3>

    <h3>Circular References Between Components</h3>

    <p>
        Components can recursively invoke themselves in their own template. However, they can only do so with the name
        option:
    </p>
    <code>name: 'unique-name-of-my-component'</code>

    <p>When you register a component globally using Vue.component, the global ID is automatically set as the component’s
        name
        option.</p>


    <code>
        Vue.component('unique-name-of-my-component', {
        // ...
        })
    </code>
    <p>
        If you’re not careful, recursive components can also lead to infinite loops:
    </p>

    <xmp>
        name: 'stack-overflow',
        template: '<div>
            <stack-overflow></stack-overflow>
        </div>'
    </xmp>

    <h3>Circular References Between Components</h3>

    <xmp>
        <p>
            <span>{{ folder.name }}</span>
            <tree-folder-contents :children="folder.children" />
        </p>
    </xmp>

    <p>
        Then a tree-folder-contents component with this template:

    </p>
    <xmp>
        <ul>
            <li v-for="child in children">
                <tree-folder v-if="child.children" :folder="child" />
                <span v-else>{{ child.name }}</span>
            </li>
        </ul>
    </xmp>

    <p>In our case, let’s make that point the tree-folder component. We know the child that creates the paradox is the
        tree-folder-contents component, so we’ll wait until the beforeCreate lifecycle hook to register it:</p>

    <xmp>
        beforeCreate: function () {
        this.$options.components.TreeFolderContents = require('./tree-folder-contents.vue').default
        }
    </xmp>

    <p>
        Or alternatively, you could use Webpack’s asynchronous import when you register the component locally:
    </p>

    <xmp>
        components: {
        TreeFolderContents: () => import('./tree-folder-contents.vue')
        }
    </xmp>
    <p>
        Problem solved!

    </p>

    <h2>Alternate Template Definitions</h2>

    <h3>Inline Templates</h3>

    <div id="example">
        <my-component inline-template>
            <div>
                <p>These are compiled as the component's own template.</p>
                <p>Not parent's transclusion content.</p>
            </div>
        </my-component>

        <h3>X-Templates</h3>
        <script type="text/x-template" id="hello-world-template">
          <p>Hello hello hello</p>
        </script>
        <hello-world></hello-world>
    </div>



    <h2>Controlling Updates</h2>

    <h3>Forcing an Udate</h3>
    <p><i>If you find yourself needing to force an update in Vue, in 99.99% of cases, you’ve made a mistake
            somewhere.</i></p>
    <p>However, if you’ve ruled out the above and find yourself in this extremely rare situation of having to manually
        force an
        update, you can do so with $forceUpdate.</p>

    <h3>Cheap Static Components with v-once</h3>

    <p>Rendering plain HTML elements is very fast in Vue, but sometimes you might have a component that contains a lot
        of
        static content. In these cases, you can ensure that it’s only evaluated once and then cached by adding the
        v-once
        directive to the root element, like this:</p>

    <xmp>

        Vue.component('terms-of-service', {
        template: `
        <div v-once>
            <h1>Terms of Service</h1>
            ... a lot of static content ...
        </div>
        `
        })
    </xmp>

</body>

</html>

<script>
    // The root Vue instance
    new Vue({
        data: {
            foo: 1
        },
        computed: {
            bar: function () { }
        },
        methods: {
            baz: function () { }
        },
        // Attach the datepicker to an input once
        // it's mounted to the DOM.
        mounted: function () {
            // Pikaday is a 3rd-party datepicker library
            this.picker = new Pikaday({
                field: this.$refs.input,
                format: 'YYYY-MM-DD'
            })
        },
        // Right before the component is destroyed,
        // also destroy the datepicker.
        beforeDestroy: function () {
            this.picker.destroy()
        }
    })

    // Get root data
    // this.$root.foo

    // Set root data
    // this.$root.foo = 2

    // Access root computed properties
    // this.$root.bar

    // Call root methods
    // this.$root.baz()


    Vue.component('my-component', {
    })

    Vue.component('hello-world', {
        template: '#hello-world-template'
    })
    new Vue({
        el: "#example"
    })




</script>