<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 10</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h2>Form Input Bindings</h2>
    <h3>Basic Usage</h3>
    <h3>Text</h3>
    <div id="example1">

        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>

        <h3>Multiline text</h3>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>

        <h3>Checkbox</h3>

        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <h3>Multiple checkboxes, bound to the same Array:</h3>
        <div id='example-3'>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <h3>Radio</h3>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>

        <h3>Select</h3>
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>

        <h3>Multiple select (bound to array)</h3>
        <select v-model="selectedArray" multiple>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selectedArray }}</span>

        <h3>Dynamic options rendered with v-for:</h3>
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>

        <h2>Value Bindings</h2>
        <!-- `picked` is a string "a" when checked -->
        <input type="radio" v-model="picked" value="a">
        {{picked}}


        <!-- `toggle` is either true or false -->
        <input type="checkbox" v-model="toggle">
        {{toggle}}


        <!-- `selected` is a string "abc" when the first option is selected -->
        <select v-model="selected">
            <option value="abc">ABC</option>
        </select>

        <h3>Checkbox</h3>
        <input type="checkbox" v-model="toggle" true-value="Lmao" false-value="Ez">
        // when checked:
        vm.toggle === 'yes'
        // when unchecked:
        vm.toggle === 'no'
        {{vmtoggle}}

        <h3>Radio</h3>
        <input type="radio" v-model="pick" v-bind:value="a">
        <input type="radio" v-model="pick" v-bind:value="b">
        {{pick}}


        <h3>Select option</h3>
        <select v-model="selected">
            <!-- inline object literal -->
            <option v-bind:value="{ number: 123 }">123</option>
          </select>
        
        <h2>Modifiers</h2>

        <h3>.lazy</h3>
        
        <p>
        synced after "change" instead of "input"

        </p>
        <input v-model.lazy="msg"> {{msg}}

        <h3>.number</h3>
        <input v-model.number="age" type="number">

        <h3>.trim</h3>
        <input v-model.trim="msg">
    </div>

</body>

</html>

<script>
    var vm = new Vue({
        el: "#example1",
        data: {
            message: '',
            checked: false,
            checkedNames: [],
            picked: '',
            selected: 'A',
            selectedArray: [],
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ],
            picked: '',
            toggle: '',
            vmtoggle: '',
            pick:'',
            a:'As value',
            b:'Bs value',
            msg:'',
            age:''
        }
    })
    

</script>