<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 5</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="example">
        <h3>Basic Example</h3>
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>

        <h3>Computed Caching vs Methods</h3>
        <p>Reversed message: "{{ reverseMessage() }}"</p>

        Instead of a computed property, we can define the same function as a method. For the end result, the two
        approaches are
        indeed exactly the same. However, the difference is that computed properties are cached based on their reactive
        dependencies. A computed property will only re-evaluate when some of its reactive dependencies have changed.
        This means
        as long as message has not changed, multiple access to the reversedMessage computed property will immediately
        return the
        previously computed result without having to run the function again.

        <h3>Computed vs Watched Property</h3>


    </div>
    <div id="demo">
        <h4>Watched</h4>
        <input v-model="firstName">
        <input v-model="lastName">
        {{ fullName }} <br>
        Number of time function has been called: {{ timeRepeated }}

    </div>

    <div id="democomputed">
        <h4>Computed</h4>
        <input v-model="firstNameC">
        <input v-model="lastNameC">
        First name: {{firstNameC}} <br>
        Last name: {{lastNameC}} <br>
        {{ fullName}}

    </div>

    <h3>Computed setter</h3>

    <div id="computedSetter">
        <input v-model="fullName">
        {{fullName}} <br>
        First name: {{firstName}} <br>
        Last name: {{lastName}} <br>
    </div>

    <h3>Watcher</h3>

    <div id="watch-example">
        <p>
            Ask a yes/no question:
            <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>

</body>

</html>

<script>
    var example = new Vue({
        el: '#example',
        data: {
            message: 'Hello'
        },
        computed: {
            // a computed getter
            reversedMessage: function () {
                // `this` points to the vm instance
                return this.message.split('').reverse().join('')
            }
        },
        methods: {
            reverseMessage: function () {
                return this.message.split('').reverse().join('')
            }
        }
    })

    console.log(example.reversedMessage) // => 'olleH'
    example.message = 'Goodbye'
    console.log(example.reversedMessage) // => 'eybdooG'


    var watch = new Vue({
        el: '#demo',
        data: {
            firstName: 'Foo',
            lastName: 'Bar',
            fullName: 'Foo Bar',
            timeRepeated: 0
        },

        watch: {
            firstName: function (val) {
                this.fullName = val + ' ' + this.lastName
                this.timeRepeated++;

            },
            lastName: function (val) {
                this.fullName = this.firstName + ' ' + val
                this.timeRepeated++;
            }
        }
    })

    var computed = new Vue({
        el: '#democomputed',
        data: {
            firstNameC: 'Foo',
            lastNameC: 'Bar'
        },
        computed: {
            fullName: function () {
                return this.firstNameC + ' ' + this.lastNameC
                console.log("+1 step");
            }
        }
    })

    var computedSetter = new Vue({
        el: '#computedSetter',
        data: {
            firstName: '',
            lastName: '',
        },
        computed: {
            fullName: {
                // getter
                get: function () {
                    return this.firstName + ' ' + this.lastName
                },
                // setter
                set: function (newValue) {
                    var names = newValue.split(' ')
                    this.firstName = names[0]
                    this.lastName = names[names.length - 1]
                }
            }
        }

    })

</script>

<!-- Since there is already a rich ecosystem of ajax libraries    -->
<!-- and collections of general-purpose utility methods, Vue core -->
<!-- is able to remain small by not reinventing them. This also   -->
<!-- gives you the freedom to use what you're familiar with.      -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
    var watchExampleVM = new Vue({
        el: '#watch-example',
        data: {
            question: '',
            answer: 'I cannot give you an answer until you ask a question!'
        },
        watch: {
            // whenever question changes, this function will run
            question: function (newQuestion, oldQuestion) {
                this.answer = 'Waiting for you to stop typing...'
                this.debouncedGetAnswer()
            }
        },
        created: function () {
            // _.debounce is a function provided by lodash to limit how
            // often a particularly expensive operation can be run.
            // In this case, we want to limit how often we access
            // yesno.wtf/api, waiting until the user has completely
            // finished typing before making the ajax request. To learn
            // more about the _.debounce function (and its cousin
            // _.throttle), visit: https://lodash.com/docs#debounce
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        },
        methods: {
            getAnswer: function () {
                if (this.question.indexOf('?') === -1) {
                    this.answer = 'Questions usually contain a question mark. ;-)'
                    return
                }
                this.answer = 'Thinking...'
                var vm = this
                axios.get('https://yesno.wtf/api')
                    .then(function (response) {
                        vm.answer = _.capitalize(response.data.answer)
                    })
                    .catch(function (error) {
                        vm.answer = 'Error! Could not reach the API. ' + error
                    })
            }
        }
    })
</script>