<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 2</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <p>{{ foo }}</p>
        <!-- this will no longer update `foo`! -->
        <button v-on:click="foo = 'baz'">Change it</button>
    </div>
</body>

</html>

<script>
    //Creating a Vue Instance ==================================
    var vm = new Vue({
        // options
        data: {
            newTodoText: '',
            visitCount: 0,
            hideCompletedTodos: false,
            todos: [],
            error: null
        }
    })

    //Data and Methods ==================================

    // Our data object
    var data = { a: 1 }

    // The object is added to a Vue instance
    var vm = new Vue({
        data: data
    })

    // Getting the property on the instance
    // returns the one from the original data
    vm.a == data.a // => true

    // Setting the property on the instance
    // also affects the original data
    vm.a = 2
    data.a // => 2

    // ... and vice-versa
    data.a = 3
    vm.a // => 3

    vm.b = 'hi'

    var obj = {
        foo: 'bar'
    }

    Object.freeze(obj)

    new Vue({
        el: '#app',
        data: obj
    })

    var data = { a: 1 }
    var vm = new Vue({
        el: '#example',
        data: data
    })

    vm.$data === data // => true
    vm.$el === document.getElementById('example') // => true

    // $watch is an instance method
    vm.$watch('a', function (newValue, oldValue) {
        // This callback will be called when `vm.a` changes
    })

    //Instance Lifecycle Hooks ==================================

    new Vue({
        data: {
            a: 1
        },
        created: function () {
            // `this` points to the vm instance
            console.log('a is: ' + this.a)
        }
    })
// => "a is: 1"

</script>