<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 6</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h2>Binding HTML Classes</h2>
    <h3>Object Syntax</h3>
    <div id="example1">
        <button v-on:click="toggleTrueFalse"> Toggle</button>
        <div v-bind:class="{ active: isActive }"> {{isActive}} </div>
        <div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }"> {{hasError}} </div>
        <div v-bind:class="classObject"></div>
        <div v-bind:class="classObject"></div>

    </div>

    <h3>Array Syntax</h3>
    <div id="example2">
        <button v-on:click="toggleTrueFalse"> Toggle</button>
        {{isActive}} {{activeClass}} {{errorClass}}
        <div v-bind:class="[activeClass, errorClass]"> {{activeClass}} {{errorClass}} </div>
        <div v-bind:class="[isActive ? activeClass : '', errorClass]"> {{isActive ? activeClass : ''}} {{errorClass}}
        </div>

    </div>

    <h3>With Components</h3>

    <i>This section assumes knowledge of Vue Components. Feel free to skip it and come back later.</i>

    <h2>Binding Inline Styles</h2>

    <h3>Object Syntax</h3>
    <div id="example3">
        <input type="text" name="" id="" v-model="activeColor">
        <input type="number" name="" id="" v-model="fontSize">
        <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }"> { color: activeColor, fontSize: fontSize + 'px' } </div>

        Color: <input type="text" name="" id="" v-model="styleObject.color">
        Font size: <input type="number" name="" id="" v-model="styleObject.fontSize">
        <div v-bind:style="styleObject"> {{styleObject}} </div>

        <h3>Array Syntax</h3>
        <div v-bind:style="[styleObject, styleObject2]"> What even is this? </div>
    </div>


    <h3>Auto-prefixing</h3>

    <h3>Multiple Values</h3>

    <div v-bind:style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }"> Okay okay chill chill</div>

</body>

</html>

<script>
    new Vue({
        el: "#example1",
        data: {
            isActive: true,
            hasError: true,
            // classObject: {
            //     active: true,
            //     'text-danger': false
            // }
        },
        computed: {
            classObject: function () {
                return {
                    active: this.isActive && !this.error,
                    'text-danger': this.error && this.error.type === 'fatal'
                }
            }
        },
        methods: {
            toggleTrueFalse: function () {
                this.isActive = !this.isActive
                this.hasError = !this.hasError
            }
        }
    })

    new Vue({
        el: "#example2",
        data: {
            isActive: true,
            activeClass: 'active',
            errorClass: 'text-danger'
        },
        methods: {
            toggleTrueFalse: function () {
                this.isActive = !this.isActive
            }
        }
    })

    new Vue({
        el: "#example3",
        data: {
            activeColor: 'red',
            fontSize: 30,
            styleObject: {
                color: 'blue',
                fontSize: 13 + 'px'
            },
            styleObject2: {
                backgroundColor: 'red'
            }
        },
        methods: {
            toggleTrueFalse: function () {
                this.isActive = !this.isActive
            }
        }
    })


</script>

<style>
    .text-danger {
        color: yellowgreen;
    }

    .active {
        display: none;
    }
</style>