<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 13</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h1>Props</h1>
    <h2>Prop Casing (camelCase vs kebab-case)</h2>
    <xmp>
        Vue.component('blog-post', {
        // camelCase in JavaScript
        props: ['postTitle'],
        template: '<h3>{{ postTitle }}</h3>'
        })

        <!-- kebab-case in HTML -->
        <blog-post post-title="hello!"></blog-post>
    </xmp>

    <h2>Prop Types</h2>
    <p>Array of strings</p>
    <xmp>
        props: ['title', 'likes', 'isPublished', 'commentIds', 'author']
    </xmp>
    <p> Specific types of value: </p>
    <xmp>
        props: {
        title: String,
        likes: Number,
        isPublished: Boolean,
        commentIds: Array,
        author: Object,
        callback: Function,
        contactsPromise: Promise // or any other constructor
        }
    </xmp>

    <h2>Passing Static or Dynamic Props</h2>

    <div id="blog-post-example">
        <blog-post v-for="post in posts" v-bind:title="post.title + ' number ' + post.number" v-bind:key="post.id">
        </blog-post>

    </div>

    <h3>Passing a Number</h3>
    <!-- Even though `42` is static, we need v-bind to tell Vue that -->
    <!-- this is a JavaScript expression rather than a string.       -->
    <blog-post v-bind:likes="42"></blog-post>

    <!-- Dynamically assign to the value of a variable. -->
    <blog-post v-bind:likes="post.likes"></blog-post>
    <h3>Passing a Boolean</h3>
    <!-- Including the prop with no value will imply `true`. -->
    <blog-post is-published></blog-post>

    <!-- Even though `false` is static, we need v-bind to tell Vue that -->
    <!-- this is a JavaScript expression rather than a string.          -->
    <blog-post v-bind:is-published="false"></blog-post>

    <!-- Dynamically assign to the value of a variable. -->
    <blog-post v-bind:is-published="post.isPublished"></blog-post>
    <h3>Passing an Array</h3> <!-- Even though the array is static, we need v-bind to tell Vue that -->
    <!-- this is a JavaScript expression rather than a string.            -->
    <blog-post v-bind:comment-ids="[234, 266, 273]"></blog-post>

    <!-- Dynamically assign to the value of a variable. -->
    <blog-post v-bind:comment-ids="post.commentIds"></blog-post>
    <h3>Passing an Object</h3>
    <!-- Even though the object is static, we need v-bind to tell Vue that -->
    <!-- this is a JavaScript expression rather than a string.             -->
    <blog-post v-bind:author="{
        name: 'Veronica',
        company: 'Veridian Dynamics'
      }">
    </blog-post>

    <!-- Dynamically assign to the value of a variable. -->
    <blog-post v-bind:author="post.author"></blog-post>
    <h3>Passing the Properties of an Object</h3>
    <p>If you want to pass all the properties of an object as props, you can use v-bind without an argument (v-bind
        instead of
        v-bind:prop-name). For example, given a post object:</p>

    <xmp>
        post: {
        id: 1,
        title: 'My Journey with Vue'
        }
        The following template:
    </xmp>

    <blog-post v-bind="post"></blog-post>
    Will be equivalent to:

    <xmp>
        <blog-post v-bind:id="post.id" v-bind:title="post.title"></blog-post>
    </xmp>

    <h2>One-Way Data Flow</h2>
    <p>You should not attempt to mutate a prop inside a child component. If you do, Vue will warn you in the console.

        There are usually two cases where it’s tempting to mutate a prop:

        The prop is used to pass in an initial value; the child component wants to use it as a local data property
        afterwards.
        In this case, it’s best to define a local data property that uses the prop as its initial value:

        <xmp>
            props: ['initialCounter'],
            data: function () {
            return {
            counter: this.initialCounter
            }
            }
        </xmp>

        The prop is passed in as a raw value that needs to be transformed. In this case, it’s best to define a computed
        property
        using the prop’s value:

        <xmp>
            props: ['size'],
            computed: {
            normalizedSize: function () {
            return this.size.trim().toLowerCase()
            }
            }

        </xmp>
    </p>

    <h2>Prop Validation</h2>

    <h3>Type Checks</h3>

    <p>The <code>type</code> can be one of the following native constructors:</p>

    <ul>
        <li>String</li>
        <li>Number</li>
        <li>Boolean</li>
        <li>Array</li>
        <li>Object</li>
        <li>Date</li>
        <li>Function</li>
        <li>Symbol</li>
    </ul>

    <p>In addition, type can also be a custom constructor function and the assertion will be made with an instanceof
        check. For
        example, given the following constructor function exists:

        <xmp>
            function Person (firstName, lastName) {
            this.firstName = firstName
            this.lastName = lastName
            }
        </xmp>

        You could use:

        <xmp>
            Vue.component('blog-post', {
            props: {
            author: Person
            }
            })
        </xmp>
        to validate that the value of the author prop was created with new Person.</p>

    <h2>Non-Prop Attributes</h2>
    <xmp>
        <bootstrap-date-input data-date-picker="activated"></bootstrap-date-input>
    </xmp>

    <h3>Replacing/Merging with Existing Attributes</h3>
    <p>Imagine this is the template for bootstrap-date-input:

        <xmp>
            <input type="date" class="form-control">
        </xmp>
        To specify a theme for our date picker plugin, we might need to add a specific class, like this:

        <xmp>
            <bootstrap-date-input data-date-picker="activated" class="date-picker-theme-dark"></bootstrap-date-input>

        </xmp>

        In this case, two different values for class are defined:

        form-control, which is set by the component in its template
        date-picker-theme-dark, which is passed to the component by its parent
        For most attributes, the value provided to the component will replace the value set by the component. So for
        example,
        passing type="text" will replace type="date" and probably break it! Fortunately, the class and style attributes
        are a
        little smarter, so both values are merged, making the final value: form-control date-picker-theme-dark.</p>

    <h3>Disabling Attribute Inheritance</h3>

    <p>If you do not want the root element of a component to inherit attributes, you can set inheritAttrs: false in the
        component’s options. For example:

        <xmp>
            Vue.component('my-component', {
            inheritAttrs: false,
            // ...
            })
        </xmp>
        This can be especially useful in combination with the $attrs instance property, which contains the attribute
        names and
        values passed to a component, such as:

        <xmp>
            {
            required: true,
            placeholder: 'Enter your username'
            }
        </xmp>
        With inheritAttrs: false and $attrs, you can manually decide which element you want to forward attributes to,
        which is
        often desirable for base components</p>

</body>

</html>

<script>
    Vue.component('blog-post', {
        props: ['title'],
        template: '<h5>{{ title }}</h5>'
    })

    new Vue({
        el: '#blog-post-example',
        data: {
            posts: [
                { id: 1, number: '88', title: 'My journey with Vue', content: 'abc' },
                { id: 2, number: '89', title: 'Blogging with Vue', content: 'def' },
                { id: 3, number: '90', title: 'Why Vue is so fun', content: 'ghj' }
            ]
        }
    })

    Vue.component('my-component', {
        props: {
            // Basic type check (`null` and `undefined` values will pass any type validation)
            propA: Number,
            // Multiple possible types
            propB: [String, Number],
            // Required string
            propC: {
                type: String,
                required: true
            },
            // Number with a default value
            propD: {
                type: Number,
                default: 100
            },
            // Object with a default value
            propE: {
                type: Object,
                // Object or array defaults must be returned from
                // a factory function
                default: function () {
                    return { message: 'hello' }
                }
            },
            // Custom validator function
            propF: {
                validator: function (value) {
                    // The value must match one of these strings
                    return ['success', 'warning', 'danger'].indexOf(value) !== -1
                }
            }
        }
    })

    Vue.component('base-input', {
        inheritAttrs: false,
        props: ['label', 'value'],
        template: `
    <label>
      {{ label }}
      <input
        v-bind="$attrs"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
      >
    </label>
  `
    })
    // Note that inheritAttrs: false option does not affect style and class bindings.

</script>