<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 15</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h1>Slots</h1>
    <h2>Slot Content</h2>

    <div id="example1">

        <navigation-link url="/profile">
            <!-- Add a Font Awesome icon -->
            <span class="fa fa-user"></span>
            Your Profile
        </navigation-link>
    </div>
    <p>If <xmp>
            <navigation-link>
        </xmp>‘s template did not contain a <xmp>
            <slot>
        </xmp> element, any content provided between its opening and closing tag would be discarded.</p>

    <h2>Compilation Scope</h2>

    <strong>Everything in the parent template is compiled in parent scope; everything in the child template is compiled
        in the child
        scope.</strong>

    <h2>Fallback Content</h2>

    <xmp>
        We might want the text “Submit” to be rendered inside the <button> most of the time. To make “Submit” the
            fallback
            content, we can place it in between the <slot> tags:

                <button type="submit">
                    <slot>Submit</slot>
                </button>

                But if we provide content:

                <submit-button>
                    Save
                </submit-button>

                Then the provided content will be rendered instead:

                <button type="submit">
                    Save
                </button>
    </xmp>

    <h2>Named Slots</h2>

    <xmp>
        For these cases, the <slot> element has a special attribute, name, which can be used to define additional slots:

            <div class="container">
                <header>
                    <slot name="header"></slot>
                </header>
                <main>
                    <slot></slot>
                </main>
                <footer>
                    <slot name="footer"></slot>
                </footer>
            </div>
            A <slot> outlet without name implicitly has the name “default”.

                To provide content to named slots, we can use the v-slot directive on a <template>, providing the name
                    of the slot as v-slot‘s argument:

                    <base-layout>
                        <template v-slot:header>
                            <h1>Here might be a page title</h1>
                        </template>

                        <p>A paragraph for the main content.</p>
                        <p>And another one.</p>

                        <template v-slot:footer>
                            <p>Here's some contact info</p>
                        </template>
                    </base-layout>
    </xmp>
    <p><i>Note that v-slot can only be added to a &lt;template&gt; (when only the default slot is provided content, the
            component’s tags can be used as the slot’s template. This allows us
            to use v-slot directly on the component)</i></p>

    <h2>Scoped Slots</h2>

    <p>To make user available to the slot content in the parent, we can bind user as an attribute to the <slot> element:
    </p>
    <Strong>In the template:</Strong>
    <xmp>
        <span>
            <slot v-bind:user="user">
                {{ user.lastName }}
            </slot>
        </span>
    </xmp>
    <Strong> In the HTML:</Strong>
    <xmp>
        <current-user>
            <template v-slot:default="slotProps">
                {{ slotProps.user.firstName }}
            </template>
        </current-user>
    </xmp>

    <h3>Abbreviated Syntax for Lone Default Slots</h3>

    <p>
        Note that the abbreviated syntax for default slot cannot be mixed with named slots, as it would lead to scope
        ambiguity:
    </p>
    <xmp>

        <!-- INVALID, will result in warning -->
        <current-user v-slot="slotProps">
            {{ slotProps.user.firstName }}
            <template v-slot:other="otherSlotProps">
                slotProps is NOT available here
            </template>
        </current-user>
    </xmp>

    <h3>Destructuring Slot Props</h3>

    <p>
        Internally, scoped slots work by wrapping your slot content in a function passed a single argument:

        <xmp>
            function (slotProps) {
            // ... slot content ...
            }
        </xmp>
    </p>

    <p>The value of v-slot can actually accept any valid JavaScript expression that can appear in the argument position
        of a
        function definition
    </p>

    <xmp>
        <current-user v-slot="{ user }">
            {{ user.firstName }}
        </current-user>
    </xmp>

    <p>
        This can make the template much cleaner, especially when the slot provides many props. It also opens other
        possibilities, such as renaming props, e.g. user to person:
    </p>

    <xmp>
        <current-user v-slot="{ user: person }">
            {{ person.firstName }}
        </current-user>
    </xmp>

    <p>
        You can even define fallbacks, to be used in case a slot prop is undefined:
    </p>
    <xmp>
        <current-user v-slot="{ user = { firstName: 'Guest' } }">
            {{ user.firstName }}
        </current-user>
    </xmp>

    <h3>Dynamic Slot Names</h3>

    <xmp>
        <base-layout>
            <template v-slot:[dynamicSlotName]>
                ...
            </template>
        </base-layout>
    </xmp>

    <h3>Named Slots Shorthand</h3>

    <p>Similar to v-on and v-bind, v-slot also has a shorthand, replacing everything before the argument (v-slot:) with
        the
        special symbol #. For example, v-slot:header can be rewritten as #header:</p>

    <xmp>
        <!-- This will trigger a warning -->
        <current-user #="{ user }">
            {{ user.firstName }}
        </current-user>
    </xmp>
    <p>Instead, use this:</p>
    <xmp>
        <current-user #default="{ user }">
            {{ user.firstName }}
        </current-user>
    </xmp>

    <h3>Other Examples</h3>

    <strong>Slot props allow us to turn slots into reusable templates that can render different content based on input
        props.</strong>

    <p>In template:</p>

    <xmp>
        <ul>
            <li v-for="todo in filteredTodos" v-bind:key="todo.id">
                <!--
            We have a slot for each todo, passing it the
            `todo` object as a slot prop.
            -->
                <slot name="todo" v-bind:todo="todo">
                    <!-- Fallback content -->
                    {{ todo.text }}
                </slot>
            </li>
        </ul>
    </xmp>

    <p>In HTML:</p>

    <xmp>
        <todo-list v-bind:todos="todos">
            <template v-slot:todo="{ todo }">
                <span v-if="todo.isComplete">✓</span>
                {{ todo.text }}
            </template>
        </todo-list>
    </xmp>

    <h3>Deprecated Syntax</h3>

</body>

</html>

<script>
    Vue.component('navigation-link', {
        props: ['url'],
        template: `<a
        v-bind:href="url"
        class="nav-link"
        >
        <slot></slot>
        </a>`,

    })

    new Vue({
        el: '#example1'
    })

    Vue.component('current-user', {
        props: [],
        template: ``
    })
</script>