<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 9</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h2>Listening to Events</h2>
    <div id="example-1">
        <button v-on:click="counter += 1">Add 1</button>
        <p>The button above has been clicked {{ counter }} times.</p>
    </div>

    <h2>Method Event Handlers</h2>
    <div id="example-2">
        <!-- `greet` is the name of a method defined below -->
        <button v-on:click="greet">Greet</button>
    </div>

    <h2>Methods in Inline Handlers</h2>

    <div id="example-3">
        <button v-on:click="say('hi')">Say hi</button>
        <button v-on:click="say('what')">Say what</button>


    </div>

    <div id="example-4">
        <button v-on:click="warn('Form cannot be submitted yet.', $event)">
            Submit
        </button>

    </div>
    <h2>Event Modifiers</h2>

    <ul>
        <li><code>.stop</code></li>
        <li><code>.prevent</code></li>
        <li><code>.capture</code></li>
        <li><code>.self</code></li>
        <li><code>.once</code></li>
        <li><code>.passive</code></li>
    </ul>

    <div id="example-5">
        <!-- the click event's propagation will be stopped -->
        <a v-on:click.stop="doThis"> the click event's propagation will be stopped
            <a v-on:click.stop="doThis">
                child
            </a>
        </a>

        <!-- the submit event will no longer reload the page -->
        <form v-on:submit.prevent="onSubmit"> the submit event will no longer reload the page </form>

        <!-- modifiers can be chained -->
        <a v-on:click.stop.prevent="doThat"> modifiers can be chained </a>

        <!-- just the modifier -->
        <form v-on:submit.prevent> just the modifier </form>

        <!-- use capture mode when adding the event listener -->
        <!-- i.e. an event targeting an inner element is handled here before being handled by that element -->
        <div v-on:click.capture="doThis">use capture mode when adding the event listener</div>

        <!-- only trigger handler if event.target is the element itself -->
        <!-- i.e. not from a child element -->
        <div v-on:click.self="doThat">only trigger handler if event.target is the element itself</div>

        <!-- the click event will be triggered at most once -->
        <a v-on:click.once="doThis"> the click event will be triggered at most once </a>

        <!-- the scroll event's default behavior (scrolling) will happen -->
        <!-- immediately, instead of waiting for `onScroll` to complete  -->
        <!-- in case it contains `event.preventDefault()`                -->
        <div v-on:scroll.passive="onScroll">...</div>
    </div>

    <h2>Key Modifiers</h2>

    When listening for keyboard events, we often need to check for specific keys. Vue allows adding key modifiers for
    v-on
    when listening for key events:

    <!-- only call `vm.submit()` when the `key` is `Enter` -->
    <xmp> <input v-on:keyup.enter="submit"> </xmp>
    You can directly use any valid key names exposed via KeyboardEvent.key as modifiers by converting them to
    kebab-case.

    <xmp><input v-on:keyup.page-down="onPageDown"></xmp>
    In the above example, the handler will only be called if $event.key is equal to 'PageDown'.

    <h3>Key Codes</h3>

    Using keyCode attributes is also permitted:
    <xmp>
        <input v-on:keyup.13="submit">
    </xmp>

    <p>You can also define custom key modifier aliases via the global config.keyCodes object:</p>

    // enable `v-on:keyup.f1` <br>
    Vue.config.keyCodes.f1 = 112

    <ul>
        <li><code>.enter</code></li>
        <li><code>.tab</code></li>
        <li><code>.delete</code> (captures both “Delete” and “Backspace” keys)</li>
        <li><code>.esc</code></li>
        <li><code>.space</code></li>
        <li><code>.up</code></li>
        <li><code>.down</code></li>
        <li><code>.left</code></li>
        <li><code>.right</code></li>
    </ul>

    <h2>System Modifier Keys</h2>

    <ul>
        <li><code>.ctrl</code></li>
        <li><code>.alt</code></li>
        <li><code>.shift</code></li>
        <li><code>.meta</code></li>
    </ul>
    <p>meta is the command key (⌘). Windows key (⊞).meta is marked as a solid diamond (◆). meta is labeled “META” or “Meta”.</p>

    <p>For example:
    <xmp>
                <!-- Alt + C -->
                <input v-on:keyup.alt.67="clear">
        
                <!-- Ctrl + Click -->
                <div v-on:click.ctrl="doSomething">Do something</div></p>
    </xmp>

    <h3>.exact Modifier</h3>

    <xmp>
        <!-- this will fire even if Alt or Shift is also pressed -->
        <button v-on:click.ctrl="onClick">A</button>
    
        <!-- this will only fire when Ctrl and no other keys are pressed -->
        <button v-on:click.ctrl.exact="onCtrlClick">A</button>
    
        <!-- this will only fire when no system modifiers are pressed -->
        <button v-on:click.exact="onClick">A</button>
    </xmp>

    <h3>Mouse Button Modifiers</h3>
    <ul>
        <li><code>.left</code></li>
        <li><code>.right</code></li>
        <li><code>.middle</code></li>
    </ul>

</body>

</html>

<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            counter: 0
        }
    })

    var example2 = new Vue({
        el: '#example-2',
        data: {
            name: 'Vue.js'
        },
        // define methods under the `methods` object
        methods: {
            greet: function (event) {
                // `this` inside methods points to the Vue instance
                alert('Hello ' + this.name + '!')
                // `event` is the native DOM event
                if (event) {
                    alert(event.target.tagName)
                }
            }
        }
    })

    // you can invoke methods in JavaScript too
    example2.greet() // => 'Hello Vue.js!'

    new Vue({
        el: '#example-3',
        methods: {
            say: function (message) {
                alert(message)
            }
        }
    })

    new Vue({
        el: '#example-4',
        methods: {
            warn: function (message, event) {
                // now we have access to the native event
                if (event) {
                    event.preventDefault()
                }
                alert(message)
            }
        }
    })

    new Vue({
        el: '#example-5',
        methods: {
            say: function (message) {
                alert(message)
            },
            warn: function (message, event) {
                // now we have access to the native event
                if (event) {
                    event.preventDefault()
                }
                alert(message)
            },
            doThis: function () {
                console.log("1");
            },
            doThat: function () {
                console.log("1");
            },
            onScroll: function () {
                console.log("1");
            }
        }
    })



</script>