<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 18</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h1>Filters</h1>

    <div id="example">
        <!-- in mustaches -->
        {{ message | capitalize }}
    </div>

    <xmp>
        <!-- in v-bind -->
        <div v-bind:id="rawId | formatId"></div>
    </xmp>

    Filters can be chained:

    <code>{{ message | filterA | filterB }}</code>
    <p>
        In this case, filterA, defined with a single argument, will receive the value of message, and then the filterB
        function
        will be called with the result of filterA passed into filterB‘s single argument.
    </p>

    <p>
        Filters are JavaScript functions, therefore they can take arguments:
    </p>

    <code>
    {{ message | filterA('arg1', arg2) }}
    </code>

    <p>Here filterA is defined as a function taking three arguments. The value of message will be passed into the first
        argument. The plain string 'arg1' will be passed into the filterA as its second argument, and the value of
        expression
        arg2 will be evaluated and passed in as the third argument.
    </p>
</body>

</html>

<script>
    Vue.filter('capitalize', function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
    })

    new Vue({
        el: '#example',
        data: {
            message: 'lmao'
        },
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }
    })


</script>