<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 11</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <h1>Components Basics</h1>

    <h2>Base Example</h2>
    <div id="components-demo">
        <button-counter></button-counter>

        <h2>Reusing Components</h2>
        <button-counter></button-counter>
        <button-counter></button-counter>


        <h3><code>data</code> Must Be a Function</h3>
        <p><i>a component’s data option must be a function, so that each instance can maintain an independent copy of
                the returned
                data object:</i></p>

    </div>

    <p><i>if not:</i></p>
    <div id="button-counter-wrong">
        <button v-on:click="count++"> This will happen if data isn't a function {{ count }} </button>
        <button v-on:click="count++"> This will happen if data isn't a function {{ count }} </button>
        <button v-on:click="count++"> This will happen if data isn't a function {{ count }} </button>
    </div>

    <h2>Organizing Components</h2>

    <xmp>
        So far, we’ve only registered components globally, using Vue.component:

        Vue.component('my-component-name', {
        // ... options ...
        })

    </xmp>

    <div id="example2">

        <h2>Passing Data to Child Components with Props</h2>

        <blog-post key="1" title="My journey with Vue"></blog-post>
        <blog-post key="2" title="Blogging with Vue"></blog-post>
        <blog-post key="3" title="Why Vue is so fun"></blog-post>

    </div>

    <p>In typical apps:</p>
    <div id="blog-post-demo">
        <blog-post-2 v-for="post in posts" v-bind:id="post.id" v-bind:key="post.id" v-bind:title="post.title">
        </blog-post-2>


    </div>

    <div id="blog-post-demo-2">

        <h3>A Single Root Element</h3>
        <blog-post-3 v-for="post in posts" v-bind:key="post.id" v-bind:post="post"></blog-post-3>

    </div>

    <h3>Listening to Child Components Events</h3>

    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post-events-demo v-on:enlarge-text="postFontSize += 0.1" v-for="post in posts" v-bind:key="post.id"
                v-bind:post="post"></blog-post-events-demo>
        </div>

        <h3>Emitting a Value With an Event</h3>
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post-events-demo-2 v-on:enlarge-text="postFontSize += $event" v-for="post in posts"
                v-bind:key="post.id" v-bind:post="post"></blog-post-events-demo-2>
        </div>

        <p><i>Or, if the event handler is a method:</i></p>

        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post-events-demo-2 v-on:enlarge-text="onEnlargeText" v-for="post in posts" v-bind:key="post.id"
                v-bind:post="post"></blog-post-events-demo-2>
        </div>

    </div>

    <h3>Using <code>v-model</code> on Components</h3>
    <div id="custom-input">
        <custom-input v-model="searchText"></custom-input>
        {{searchText}}
    </div>

    <h2>Content Distribution with Slots</h2>
    <div id="slots">
        <alert-box></alert-box>
    </div>

    <h2>Dynamic Components</h2>
    <p><i>See dynamic_component_example.html for reference</i></p>

    <h2>DOM Template Parsing Caveats</h2>

    <p>
        <xmp> Some HTML elements, such as <ul>, <ol>, <table> and <select> have restrictions on what elements can appear inside them, and some elements such as <li>, <tr>, and <option> can only appear inside certain other
           elements. </xmp>
    </p>

    <xmp>
        <table>
            <tr is="blog-post-row"></tr>
        </table>
    </xmp>

    <div id="blog-post-demo-3">
    </div>

</body>

</html>

<script>
    // Define a new component called button-counter
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })

    new Vue({ el: '#components-demo' })

    new Vue({
        el: "#button-counter-wrong",
        data: {
            count: 0
        },
    })

    Vue.component('blog-post', {
        props: ['title'],
        template: '<h3>{{ title }}</h3>'
    })

    Vue.component('blog-post-2', {
        props: ['title', 'id'],
        template: '<p> {{id}} {{ title }}</p>'
    })

    new Vue({ el: '#example2' })

    new Vue({
        el: '#blog-post-demo',
        data: {
            posts: [
                { id: 1, number: '88', title: 'My journey with Vue', content: 'abc' },
                { id: 2, number: '88', title: 'Blogging with Vue', content: 'def' },
                { id: 3, number: '88', title: 'Why Vue is so fun', content: 'ghj' }
            ]
        }
    })

    Vue.component('blog-post-3', {
        props: ['post'],
        template: `
        <div class="blog-post-3">
        <h5>{{ post.title }}</h5>
        <div v-html="post.content"></div>
        </div>
    `
    })

    new Vue({
        el: '#blog-post-demo-2',
        data: {
            posts: [
                { id: 1, number: '88', title: 'My journey with Vue', content: 'abc' },
                { id: 2, number: '88', title: 'Blogging with Vue', content: 'def' },
                { id: 3, number: '88', title: 'Why Vue is so fun', content: 'ghj' }
            ]
        }
    })

    Vue.component('blog-post-events-demo', {
        props: ['post'],
        template: `
    <div class="blog-post">
      <h4>{{ post.title }}</h4>
      <button v-on:click="$emit('enlarge-text')">
      Enlarge text
      </button>
        <button v-on:click="$emit('enlarge-text', 0.1)">
        Enlarge text
      </button>
      <div v-html="post.content"></div>
    </div>
  `
    })

    Vue.component('blog-post-events-demo-2', {
        props: ['post'],
        template: `
    <div class="blog-post">
      <h4>{{ post.title }}</h4>
        <button v-on:click="$emit('enlarge-text', 0.1)">
        Enlarge text
      </button>
      <div v-html="post.content"></div>
    </div>
  `
    })

    new Vue({
        el: '#blog-posts-events-demo',
        data: {
            posts: [
                { id: 1, number: '88', title: 'My journey with Vue', content: 'abc' },
                { id: 2, number: '88', title: 'Blogging with Vue', content: 'def' },
                { id: 3, number: '88', title: 'Why Vue is so fun', content: 'ghj' }
            ],
            postFontSize: 1
        },
        methods: {
            onEnlargeText: function (enlargeAmount) {
                this.postFontSize += enlargeAmount
            }
        }
    })

    Vue.component('custom-input', {
        props: ['value'],
        template: `
    <input
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    >
  `
    })
    new Vue({
        el: "#custom-input",
        data: {
            searchText: ''
        }
    })

    Vue.component('alert-box', {
        template: `
    <div class="demo-alert-box">
      <strong>Error!</strong>
      OK
      <slot></slot>
    </div>
  `
    })

    new Vue({ el: '#slots' })

</script>