<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 8</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h1>List rendering</h1>
    <h2>Mapping an Array to Elements with v-for</h2>
    <ul id="example-1">
        <li v-for="item in items" :key="item.message">
            {{ item.message }}
        </li>
    </ul>

    <ul id="example-2">
        <li v-for="(item, index) in items">
            parentMessage: {{ parentMessage }} - index: {{ index }} - item.message: {{ item.message }}
        </li>
        <div v-for="item of items"> Using in instead of of </div>
    </ul>

    <h2>v-for with an Object</h2>
    <ul id="v-for-object" class="demo">

        <strong>You can also use v-for to iterate through the properties of an object.</strong> <br> <br>

        object: {
        title: 'How to do lists in Vue',
        author: 'Jane Doe',
        publishedAt: '2016-04-10'
        }

        <br> <br>

        <li v-for="value in object">
            {{ value }}
        </li>

        <br>

        <strong>You can also provide a second argument for the property’s name (a.k.a. key):</strong> <br> <br>

        <div v-for="(value, name) in object">
            {{ name }}: {{ value }}
        </div>

        <br>

        <strong>And another for the index:</strong> <br> <br>

        <div v-for="(value, name, index) in object">
            {{ index }}. {{ name }}: {{ value }}
        </div>

    </ul>

    <h2>Maintaining State</h2>

    <i>To give Vue a hint so that it can track each node’s identity, and thus reuse and reorder existing elements, you
        need to
        provide a unique key attribute for each item:</i>

    <xmp>
        <div v-for="(item,index) in object" v-bind:key="index">
            <!-- content -->
        </div>
    </xmp>

    <h2>Array Change Detection</h2>
    <h3>Mutation Methods</h3>
    <ul>
        <li>push()</li>
        <li>pop()</li>
        <li>shift()</li>
        <li>unshift()</li>
        <li>splice()</li>
        <li>sort()</li>
        <li>reverse()</li>
    </ul>

    <div id="mutated-method-test">
        <button v-on:click="pushArray"> Add random number </button>
        <button v-on:click="popArray"> Remove last item </button>
        <button v-on:click="shiftArray"> Remove fist item </button>
        <button v-on:click="unShiftArray"> Add random number to the beginning </button>
        <li v-for="item in items" :key="item.message">
            {{ item.message }}
        </li>

        <h3>Replacing an Array:</h3>
        <input type="text" v-model="paramsearch">
        <button v-on:click="filterArray(paramsearch)"> Search </button>
        <li v-for="item in items">
            {{ item.message }}
        </li>

        <h3>Caveats</h3>
    </div>

    <h2>Displaying Filtered/Sorted Results</h2>


    numbers: [1, 2, 3, 4, 5] <br>
    return number % 2 === 0
    <div id="filtered">
        <li v-for="n in evenNumbers">{{ n }}</li>

        <br>
        sets: [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
        return number % 2 === 0

        <ul v-for="set in sets">
            <li v-for="n in even(set)">{{ n }}</li>
        </ul>
        <h2>v-for with a Range</h2>
        <div>
            <span v-for="n in 10">{{ n }} </span>
        </div>
    </div>

    <h2>v-for on a &lt;template&gt;</h2>
    <xmp>
        <ul>
            <template v-for="item in items">
                <li>{{ item.msg }}</li>
                <li class="divider" role="presentation"></li>
            </template>
        </ul>

    </xmp>

    <h2>v-for with v-if</h2>

    <xmp>
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{ todo }}
        </li>
        
        <ul v-if="todos.length">
            <li v-for="todo in todos">
                {{ todo }}
            </li>
        </ul>
        <p v-else>No todos left!</p>

    </xmp>

    <h2>v-for with a Component</h2>
    <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
            <button>Add</button>
        </form>
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"></li>
        </ul>
    </div>

</body>

</html>

<script>
    new Vue({
        el: '#example-1',
        data: {
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ]
        }
    })

    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ]
        }
    })

    new Vue({
        el: '#v-for-object',
        data: {
            object: {
                title: 'How to do lists in Vue',
                author: 'Jane Doe',
                publishedAt: '2016-04-10'
            }
        }
    })

    new Vue({
        el: '#mutated-method-test',
        data: {
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ],
            paramsearch: ''
        },
        methods: {
            pushArray: function () {
                this.items.push({ message: Math.random() })
            },
            popArray: function () {
                this.items.pop()
            },
            shiftArray: function () {
                this.items.shift()
            },
            unShiftArray: function () {
                this.items.unshift({ message: Math.random() })
            },
            filterArray: function (params) {
                this.item = this.items.filter((item) => {
                    return item.message.match(params)
                })
                console.log(params);

            }
        }
    })

    new Vue({
        el: "#filtered",
        data: {
            numbers: [1, 2, 3, 4, 5],
            sets: [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })

    Vue.component('todo-item', {
            template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">Remove</button>\
    </li>\
  ',
            props: ['title']
        })

        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: 'Do the dishes',
                    },
                    {
                        id: 2,
                        title: 'Take out the trash',
                    },
                    {
                        id: 3,
                        title: 'Mow the lawn'
                    }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.newTodoText
                    })
                    this.newTodoText = ''
                }
            }
        })


</script>