<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 4</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>



    <div id="element-1">
        <h2> Interpolations </h2>
        <h3>Text</h3>
        <span> Message: {{ msg }} </span> <br>
        <span>Message: {{ msg }}</span> <br>
        <span v-once>This will never change: {{ msg }}</span>

        <h3>Raw HTML</h3>
        <p>Using mustaches: {{ msg }}</p>
        <p>Using v-html directive: <span v-html="msg">{{msg}}</span></p>

        <h3> Attributes </h3>
        <div v-bind:id="dynamicId"></div>
        <button v-bind:disabled="isButtonDisabled">Button</button>
        <button v-on:click="reverseDisabled">Button</button>

        <h3>Using JavaScript Expressions</h3>
        {{ number + 1 }}

        {{ ok ? 'YES' : 'NO' }}

        {{ message.split('').reverse().join('') }}

        <div v-bind:id="'list-' + id"></div>

        <h3>Directives</h3>

        <p v-if="isButtonDisabled">Now you see me</p>
        <p v-if="!isButtonDisabled">Now you don't</p>

        <h3>Arguments</h3>
        <a v-bind:href="url"> ... </a>
        <a v-on:click="reverseDisabled"> ... </a>

        <!-- <h3>Dynamic Arguments</h3>
        <a v-bind:[attributeName]="url"> ... </a>
        <a v-on:[eventName]="reverseDisabled"> ... </a> -->

        <h3>Modifiers</h3>
        <form v-on:submit.prevent="onSubmit"> ... </form>

        <h2>Shorthands</h2>
        <h3>v-bind Shorthand</h3>
        <!-- full syntax -->
        <a v-bind:href="url"> full syntax </a>

        <!-- shorthand -->
        <a :href="url"> shorthand </a>

        <!-- shorthand with dynamic argument (2.6.0+) -->
        <a :[att]="url"> shorthand with dynamic argument </a>

        <h3>v-on Shorthand</h3>
        <!-- full syntax -->
        <a v-on:click="reverseDisabled"> full syntax </a>

        <!-- shorthand -->
        <a @click="reverseDisabled"> shorthand </a>

        <!-- shorthand with dynamic argument (2.6.0+) -->
        <a @[evnt]="reverseDisabled"> shorthand with dynamic argument </a>
    </div>

</body>

</html>

<script>

    var obj = {

    }

    new Vue({
        el: "#element-1",
        data: {
            msg: '<strong> Hello? </strong>',
            isButtonDisabled: true,
            dynamicId: Date().toLocaleString(),
            number: 1,
            id: 2,
            ok: false,
            message: "OK",
            url: "google.com",
            att: 'href',
            evnt: 'click'
        },
        methods: {
            reverseDisabled: function () {
                this.isButtonDisabled = !this.isButtonDisabled
            }
        }
    })
</script>