<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai 7</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <h2>Conditional Rendering</h2>
    <div id="example1">
        <input type="checkbox" value=true v-model="awesome"> Vue is awesome? {{awesome}}
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>

        <input type="checkbox" value=true v-model="ok"> Display: {{ok}}

        <h3>Conditional Groups with v-if on template </h3>
        <template v-if="ok">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>

        <div v-if="rand">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div>

        <h3>v-else-if</h3>
        Type A,B or C in uppercase<input type="text" v-model="type">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <h3>Controlling Reusable Elements with key</h3>

        Login using username<input type="radio" value="username" v-model="loginType">
        Login using email<input type="radio" value="email" v-model="loginType">

        <br><br>

        <h4>Without using key:</h4>

        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
        </template>

        <br><br>

        <h4>Using key</h4>

        <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
        </template>

        <h3>v-show</h3>

        <input type="checkbox" value=true v-model="ok"> Display: {{ok}} <br>
        <h1 v-show="ok">Hello!</h1>
        <i>Note that v-show doesn’t support the &lt;template&gt; element, nor does it work with v-else.</i> <br>
        <i>v-show will always be rendered and remain in the DOM; v-show only toggles the display CSS property of the
            element.</i>


        <h3>v-if vs v-show</h3>
        v-if is “real” conditional rendering because it ensures that event listeners and child components inside the
        conditional
        block are properly destroyed and re-created during toggles.

        v-if is also lazy: if the condition is false on initial render, it will not do anything - the conditional block
        won’t be
        rendered until the condition becomes true for the first time.

        In comparison, v-show is much simpler - the element is always rendered regardless of initial condition, with
        CSS-based
        toggling.

        Generally speaking, v-if has higher toggle costs while v-show has higher initial render costs. <strong>So prefer
            v-show if you
            need to toggle something very often, and prefer v-if if the condition is unlikely to change at
            runtime.</strong>

        <h3>v-if with v-for</h3>
        Using v-if and v-for together is <strong>not recommended</strong>. See the style guide for further information.

        When used together with v-if, <strong>v-for has a higher priority than v-if</strong>. See the list rendering
        guide for details.

    </div>



</body>

</html>

<script>
    new Vue({
        el: "#example1",
        data: {
            awesome: true,
            ok: true,
            rand: Math.random() > 0.5 ? true : false,
            type: "A",
            loginType: 'username'
        }

    })

</script>